@import '~@angular/material/theming';

@include mat-core();

$theme-primary: mat-palette($mat-indigo);
$theme-accent:  mat-palette($mat-light-blue, A400);
$theme-warn:    mat-palette($mat-blue, 900);


$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

@include angular-material-theme($theme);