 body{

    color:black;
    font: italic;
    font-size: ;
  }

/*Website header */
  .header {
    background-color: rgb(159, 162, 162);
    text-align: left;

  }

  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: rgb(13,34,52);
  }

  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
  }

  /* Change color on hover */

  /* Header for the month*/

  .month {
    width:auto;
    background-color: ;
    text-align: center;
  }


  /*trying to make a table*/

  #calendar td, #calendar th {
    border: 1px solid #ddd;
    margin-right:20px;
  }

  #calendar tr:nth-child(even){background-color: ;}

  #calendar tr:hover {background-color: #ddd;}

  #calendar th {
    text-align: left;
    background-color: rgb(159, 162, 162);
    color: white;
  }

  /*Dropdown Menues*/

  .dropbtn {
    background-color: rgb(159, 162, 162);
    color: white;
    font-size: 16px;
    border: none;
  }


  /**/