<!-- Show it when there is no event -->
<div class="no-data text-center" *ngIf="Event.length == 0" align = "center">
  <p>We couldn't find any events to confirm!</p>
</div>

<!-- Employees list table, it hides when there is no event -->
<div *ngIf="Event.length !== 0" align = "center">

  <div class="col-md-12" >
    <table class="table table-bordered" style="display: inline-block; float:center;">
      <thead>
      <tr>

      </tr>
      </thead>
      <div class = "scroll">
        <th><b>ID</b></th>
        <th><b>Name</b></th>
        <th><b>Requestor</b></th>
        <th><b>Room Number</b></th>
        <th><b>Start Time</b></th>
        <tbody>
        <tr *ngFor="let event of Event">
          <td> {{event.id}}</td>
          <td> {{event.name}}</td>
          <td> {{event.requestor}}</td>
          <td> {{event.startTime}}</td>
          <button class="delete" (click)="deleteEvent(event.id)">Delete</button>
          <button class="delete" (click)="updateEvent(event.id)">Confirm</button>

        </tbody>
      </div>
    </table>
  </div>
</div>