 body{

    color:black;
    font: italic;
    font-size: ;
  }

/*Website header */
  .header {
    background-color: rgb(159, 162, 162);
    text-align: left;

  }

  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: rgb(13,34,52);
  }

  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
  }

  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Header for the month*/

  .month {
    width:auto;
    background-color: ;
    text-align: center;
  }


  /*trying to make a table*/

  #calendar td, #calendar th {
    border: 1px solid #ddd;
    margin-right:20px;
  }

  #calendar tr:nth-child(even){background-color: ;}

  #calendar tr:hover {background-color: #ddd;}

  #calendar th {
    text-align: left;
    background-color: rgb(159, 162, 162);
    color: white;
  }

  /*Dropdown Menues*/

  .dropbtn {
    background-color: rgb(159, 162, 162);
    color: white;
    font-size: 16px;
    border: none;
  }

  .dropdown{
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display:none;
    background-color: white;
    min-width: 160px;
    boxshadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: rgb(159, 162, 162);

    display:block;
  }

  .dropdown-content a:hover {
    background-color:#ddd
  }

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown:hover .dropbtn{
  background-color: #3e8e41
}

.scrollable {
        overflow:scroll;
        height:300px;
        width:175px;
        	background: #FAFAFA;
        	padding: 30px;
        	margin: 50px auto;
        	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
        	border-radius: 10px;
        	border: 6px solid #305A72;

}
.submit {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}

.submit:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}